
*{
    box-sizing: border-box;
    
}
.container{
    width: 80%;
    margin: 0 auto;
}

.spacer{
    margin-top: 2rem;
}

img{
    max-width: 100%;
    height: auto;
}

select {
    border: 0 !important;  /*Removes border*/
   -webkit-border: 0;  /*Removes default chrome and safari style*/
   -moz-border: 0;  /*Removes default style Firefox*/
}

